<div class="form-group">
    <label for=""></label>
    <input [(ngModel)]="heroName" type="text" name="" id="" class="form-control" placeholder=""
      aria-describedby="helpId">
    <small id="helpId" class="text-muted">Hero name</small>
    <input [(ngModel)]="heroDescription" type="text" name="" id="" class="form-control" placeholder=""
      aria-describedby="helpId">
    <small id="helpId" class="text-muted">Hero description</small>
  </div>
  <button type="button" (click)="addHero()" class="btn btn-primary">Add hero</button>
